body {
	font-family: "Merriweather", serif;
	background-color: black;
	text-align: center;
}

.navbar-fixed-top {
	opacity: 0.9;
}

#title {	
	font-size: 42px;
	color: red;
}

#heading {
	padding-top: 150px;
	color: white;
	font-size: 48px;
}

#contact {
	padding-top: 350px;
	color: white;
	font-size: 18px;
}
